.container{
  	text-align: center;
	margin: 50px;
	background-color: orangered;
	padding: 50px;
	color: white;
	font-size: 30px;
}

button{
	padding: 5px 20px;
	background-color: dodgerblue;
	border: none;
	color: white;
}
